<div class="container" id="calender-container">
  <div class='jumbotron'>
    
    <h1>Lunch Menu</h1>
    
    <div id="menu-items">
      <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>
        <%= link_to ">", date: @date.next_month %>
      </h2>

      <%= calendar @date do |date| %>

        <%= date.day %>

        <ul>
          <li><%= link_to "food item, food item, food item", "#" %></li>
        </ul>


        <!-- Add if statement here to place check if Lunch is selected in modal (Ajaxify)-->
        <div class="check-style"><i class="fa fa-check fa-2x"></i></div>

        <!-- Button trigger modal -->
        <div id="button-position">
          <button class="btn btn-default active btn-xs" data-toggle="modal" data-target="#myModal">
            Add/Remove
          </button>
        </div>
  
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Make A Selection</h4>
              </div>
              <div class="modal-body">
                

                <select class="form-control">
                  <option>No Selection</option>
                  <option>Lunch w/Milk</option>
                  <option>Lunch w/Juice</option>
                  <option>Milk</option>
                  <option>Juice</option>
                </select>

              </div>
              <div class="modal-footer">
                <!--button type="button" class="btn btn-default" data-dismiss="modal">Close</button-->
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>